$color-white:#ffffff;
$color-dark: #444444;
$color-lightdark: #666666;
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
.header {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('image/part1/mobile/pic.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //width: -webkit-fill-available;
  //height: -webkit-fill-available;
}

.button {
  cursor: pointer;
  background: #FF4E50;
  border-radius: 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
}
.button--transparent {
  border: 2px solid $color-white;
  box-sizing: border-box;
  font-weight: normal;
  background: none;
}
.title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: $color-white;

}
.para {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #F7F3F2;
}
.header__para {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #F7F3F2;
}
.title--md1 {
  font-size: 20px;
  line-height: 24px;
}
.color--white {
  color: #FFFFFF;
}
.color--dark {
  color: $color-dark;
}
.color--lightdark {
  color: $color-lightdark;
}
.color--grey {
  color: #E3E3E3;
}
.color--red {
  color: #FF4E50;
}
.color--grey-light {
  color: #CCCCCC;
}
.para--md1 {
  font-size: 14px;
  line-height: 14px;
}
.title--extra {
  font-size: 30px;
  line-height: 37px;
}
.title-md1 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.non-deco {
  decoration : none;
}
.title--center {
  text-align: center;
}
.header__title {

}
.title--md2 {
  font-size: 22px;
  line-height: 27px;
}
.picture__dreamshare {
  
}
.text-framework {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 4px;
}
.btn--small-red {
  background: #FF4E50;
  border-radius: 40px;
}

.title--md2-white {
  font-size: 24px;
  line-height: 14px;
}
.para--sm {
  font-size: 14px;
  line-height: 14px;
}

.btn-text-small {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.button--transparent-border-red {
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  box-sizing: border-box;
  color: #FF4E50;
}
.users-co {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.title--sm {
  font-size: 14px;
  line-height: 17px;
}
.avatar {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: relative;
}
.people-para {
  text-align: center;
  color: #666666;
}
.circle {
  border-radius: 50%;
}
.badge-color1 {
  background: #FF4E50;
}
.badge-color2 {
  background: #FFA710;
}
.badge-color3 {
  background: #19D4CA;
}
.badge-color4 {
  background: #667DF3;
}
.badge {
  width: 35px;
  height: 35px;
  border: 4px #ffffff solid;
}
.people__button {
  margin: 20px 0px 0px 0px;
}
.title--md3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: -0.9px;
}
.image-framework {
  width: 300px;
  height: 120px;
  mix-blend-mode: normal;
  border-radius: 4px;
  background: rgba(0,0,0,0.2);
  position: relative;
}
.para-sm--size18 {
  font-size: 18px;
}
.survey {
  padding: 0px 20px 0px 20px;
  border-bottom: 2px solid #FF4E50;
}
.survey__input {
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  padding: 14px 15px 10px 15px;
}
.btn-large {
  padding-top: 12px;
  padding-bottom: 11px;
}
.title--md5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer {
  padding: 19px 40px 22px 40px;
}
.title--sm2 {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
}
.title--bold {
  font-weight: bold;
}
.para--sm1 {
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
