.header {
  display: flex;
  flex-flow : column nowrap;
  align-items: center;
  padding-bottom: 153px;
}
.group-login-signup {
  display : flex;
  align-items: center;
  margin-bottom: 97px;
}
.navigationbar__link-login {
  margin-right: 19px; 
}
.group-login-signup {
  margin-bottom: 97px;
}
.navigationbar {
  margin: 20px 0px 26.5px 0px;
}
.button--extra-long {
  padding: 12px 46.5px 12px 46.5px;
}
.col-md-framework {
  width: 300px;
  height: 240px;
  padding: 0px;
  margin: 0px 10px 10px 10px;
}
.introduction {
  text-align: center;
}
.header__para {
  margin: 0px 26px 15px 26px;
}
.button--transparent {
  padding : 10px 17px 9px 18px;
}
.dreamware {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.row {
  margin: 0px
}
.btn--small-red {
  display: flex;
  align-items: flex-end;
}
.dreamware__title {
  margin: 34px 0px 10px;
}
.picture-framework {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.dreamware__image {
  justify-content: center;
}
.col-md--bottom {
  width: 320px;
  height: 240px;
  position: relative;
  margin-bottom: 10px;
}
.text-framework {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  padding: 64px 30px 16px 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.btn-dreamware2 {
  margin-top: 30px;
}
.people {
  padding: 16px 20px 0px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.people__title {
  margin-bottom: 11px;
}
.people-para {
  margin: 0px 0px 0px 0px;
}
.people__button {
  margin-bottom: 35px;
}
.row--align {
  justify-content: center;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.badge {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar{
  position: relative;
}
.people-title {
  margin: 16px 0px 24px 0px;
}
.users-co {
  width: 236px;
  margin-bottom: 15px;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.holiday-card {
  width: 300px;
  height: 120px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0px;
  margin: 5px 0px;
}
.holiday {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.image-holiday {
  position: absolute;
  z-index: -5;
}
.holiday__title-2 {
  margin-bottom: 35px;
  width: 100%;
  padding: 0px 60px 0px 60px;
}
.holiday__title {
  width: 100%;
  padding: 0px 60px 0px 60px;
}
.image-framework {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.survey {
  margin-top: 35px;
  padding-bottom: 40px;
  display: flex;
  flex-flow: column;
}
.survey-para {
  margin: 9px 0px 15px 0px;
}
.survey__title {
  margin: 0px 20px 19px 20px;
}
.survey__button {
}
.survey__link-button {
  margin-top: 10px;
  width: 100%;
}
.footer__name-logo {
  margin-bottom: 10px;
}
.footer__title-partners {
  margin-bottom: 10px;
}
.footer__li {
  margin-left: 5px;
  margin-right: 5px;
}
.footer__text-logo {
  margin-bottom: 5px;
}
@media (min-width: 768px){
  .header {
    padding: 0px 50px 376px 48px;
    .header__para {
      font-size: 24px;
      margin-bottom: 33px;
    }
    .introduction {
      width: 470px;
      .title--extra{
        font-size: 52px;
        line-height: 63px;
        margin: 0px 0px 28.5px 0px;
      }
    }
    .navigationbar {
      width: 100%;
      margin-bottom: 147.5px;
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
      justify-content: space-between;
      .group-login-signup {
        margin-bottom: 0;
      }
    }
  }
  .dreamware {
    margin-bottom: 94px;
    .dreamware__title {
      margin: 94px 0px 35px;
    }
    .row {
      margin: 0px;
    }
    .col-md-framework {
      width: 236px;
      height: 400px;
      margin-left: 10px;
      margin-right: 10px;
      .text-framework {
        padding: 205px 30px 16px 20px;
      }
    }
  }
  .people {
    padding: 16px 138px 0px 138px;
    .people__button {
      width: 180px;
    }
    .users-co {
      padding: 0px;
      margin-bottom: 34px;
      margin-right: 10px;
    }
    .people__title {
      margin-bottom: 34px;
    }
    .people__button {
      margin-bottom: 94px;
    }
  }
  .holiday {
    .holiday-card {
      width: 236px;
      height: 310px;
      margin: 5px 10px;
    }
    .image-holiday {
      width: 100%;
      height: 100%;
    }
    .row {
      flex-wrap: nowrap;
    }
    .image-framework {
      display: flex;
      align-items: center;
    }
  }
  .survey {
    padding-bottom: 100px;
    .survey__row {
      display: flex;
      width: 481px;
      align-items: baseline;
    }
    .survey__input {
      width: 299px;
      marign-bottom: 0px;
      margin-right: 10px
    }
  }
  .footer {
    .footer-text-center {
      padding-left: 78px;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
    }
    .footer__li {
      margin-left: 0px;
    }
  }
}
@media (min-width: 1440px){
  .header {
    padding: 0px 291px 376px 248px;
    .title--extra {
      font-size: 52px;
      line-height: 63px;
      margin: 0px 194px 28.5px 194px;
    }
    .header__para {
      font-size: 24px;
      margin-bottom: 33px;
    }
    .navigationbar {
      width: 100%;
      margin-bottom: 147.5px;
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
    .group-login-signup {
      margin-bottom: 0;
    }
  }
  .dreamware {
    .col-md-framework {
      width: 300px;
      height: 400px;
    }
  }
  .people__button {
    width: 180px;
  }
}